<form action="/faves" method="POST">
    <input type="submit" value="add to favorites">
    <input type="hidden" name="title" value="<%= movie.Title %>">
    <input type="hidden" name="imdbid" value="<%= movie.imdbID %>">
</form>

<img src="<%= movie.Poster %>" alt="">

<h2>
    <%= movie.Title %>
</h2>

<ul>
    <li>
        <%= movie.Year %>
    </li>
    <li>
        <%= movie.Rated %>
    </li>
    <li>
        <ul>
            <% movie.Actors.split(',').forEach(actor =>{ %>
                <li> <%= actor%> 

                </li>
        <%    }) %>
        </ul>
    </li>
    <li>
        <%= movie.Genre %>
    </li>
    <li>
        <%= movie.Genre %>
    </li><li>
        <%= movie.Genre %>
    </li><li>
        <%= movie.Genre %>
    </li><li>
        <%= movie.Genre %>
    </li>
</ul>

<br>



<% // Render individual movie details here %>
<% // This is how to do comments in EJS, by the way... %>
